<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='movies.css') }}">
</head>
<body>

<div><button id="btn1">正在热映</button>
    <button id="btn2">即将上映</button>
</div>




<ul id="list">
{#    <li><img src="http://img.alicdn.com/bao/uploaded/i3/TB1mu1kd50TMKJjSZFNXXa_1FXa_.jpg" alt=""></li>#}
{#    <li><img src="http://img.alicdn.com/bao/uploaded/i3/TB1mu1kd50TMKJjSZFNXXa_1FXa_.jpg" alt=""></li>#}
{#    <li><img src="http://img.alicdn.com/bao/uploaded/i3/TB1mu1kd50TMKJjSZFNXXa_1FXa_.jpg" alt=""></li>#}
{#    <li><img src="http://img.alicdn.com/bao/uploaded/i3/TB1mu1kd50TMKJjSZFNXXa_1FXa_.jpg" alt=""></li>#}
</ul>
        <script src="{{ url_for('static', filename='jquery-1.12.3.js') }}"></script>
<script src="/static/movies.js"></script>
</body>
</html>